extends ../layout

block content
	.container
		.row
			.col-md-7
				embed(src="#{movie.flash}", allowFullScreen="true", quality="high", width="720", height="600", align="middle", type="application/x-shockwave-flash")
			.col-md-5
				dl.dl-horizontal
					dt 景点名字
					dd= movie.title
					dt 地点
					dd= movie.address
					dt 价格
					dd= movie.price
					dt 语言
					dd= movie.language
					dt 简介
					dd= movie.summary

