extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 电影名字
						th 地点
						th 价格
						th 语言
						th 录入时间
						th 查看
						th 更新
						th 删除
				tbody
					each item in movies
						tr(class="item-id-#{item._id}")
							td #{item.title}
							td #{item.address}
							td #{item.price}
							td #{item.language}
							td #{moment(item.meta.createdAt).format('YYYY-MM-DD')}
							td: a(target="_blank",, href="../movie/#{item._id}") 查看
							td: a(target="_blank",, href="../admin/update/#{item._id}") 修改
							td
								button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
			a.btn.btn-primary.del(href="/admin/movie" target="_blank") 新增
	script(src="/js/admin.js")


